# Prerequisites
*.d

# Compiled Object files
*.obj
*.cso

# Precompiled Headers
*.pch

# Executables
*.exe

# Visual Studio junk
.vs/
.vscode/
*.vcxproj
*.vcxproj.*
*.sln

# Intermidiates
bin-int/
bin/
