[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
