[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "thirdparty/imnodes"]
	path = thirdparty/imnodes
	url = https://github.com/Nelarius/imnodes.git
	branch = master
[submodule "thirdparty/FidelityFX-SPD"]
	path = thirdparty/FidelityFX-SPD
	url = https://github.com/GPUOpen-Effects/FidelityFX-SPD.git
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = https://github.com/hulakdar/tracy.git
[submodule "thirdparty/FidelityFX-CACAO"]
	path = thirdparty/FidelityFX-CACAO
	url = https://github.com/GPUOpen-Effects/FidelityFX-CACAO.git
[submodule "thirdparty/brotli"]
	path = thirdparty/brotli
	url = https://github.com/google/brotli.git
[submodule "thirdparty/FidelityFX-LPM"]
	path = thirdparty/FidelityFX-LPM
	url = https://github.com/GPUOpen-Effects/FidelityFX-LPM.git
[submodule "thirdparty/cityhash"]
	path = thirdparty/cityhash
	url = https://github.com/google/cityhash.git
[submodule "thirdparty/meshoptimizer"]
	path = thirdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
